<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuration Editor</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Configuration Editor</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
      <div class="form-group">
        <label>Containers</label>
        <div id="containers">
          {% for container, info in config.containers.items() %}
          <div class="form-inline mb-2">
            <input type="text" class="form-control mr-2" name="container_name" value="{{ container }}" readonly>
            <input type="text" class="form-control" name="{{ container }}_ip" value="{{ info.ip }}" readonly>
            <!-- <button type="button" class="btn btn-danger ml-2 remove-container">Remove</button> -->
          </div>
          {% endfor %}
        </div>
        <!-- <button type="button" class="btn btn-secondary mt-2" id="add-container">Add Container</button> -->
      </div>
      <div class="form-group">
        <label>Network Deny Rules</label>
        <div id="deny-rules">
          {% for rule in config.rules.deny %}
          <div class="form-inline mb-2">
            <input type="text" class="form-control mr-2" name="deny_from" value="{{ rule.from }}">
            <input type="text" class="form-control" name="deny_to" value="{{ rule.to }}">
            <button type="button" class="btn btn-danger ml-2 remove-deny-rule">Remove</button>
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mt-2" id="add-deny-rule">Add Deny Rule</button>
      </div>
      <div class="form-group">
        <label>High Risk Paths</label>
        <div id="high-risk-paths">
          {% for path in config.high_risk_paths %}
          <div class="form-inline mb-2">
            <input type="text" class="form-control" name="high_risk_paths" value="{{ path }}">
            <button type="button" class="btn btn-danger ml-2 remove-high-risk-path">Remove</button>
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mt-2" id="add-high-risk-path">Add High Risk Path</button>
      </div>
      <div class="form-group">
        <label>Syscall Blacklist</label>
        <div id="syscall-blacklist">
          {% for syscall in config.syscall_id %}
          <div class="form-inline mb-2">
            <input type="text" class="form-control" name="syscall_id" value="{{ syscall }}">
            <button type="button" class="btn btn-danger ml-2 remove-syscall-id">Remove</button>
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mt-2" id="add-syscall-id">Add Syscall ID</button>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>

</html>